<section class="h-100 h-custom pb-0" style="color: var(--color-primary)">
	<div class="container p-0 pb-0 h-100">
		<div class="pagetitle text">
			<nav>
				<ol class="breadcrumb mt-1 mb-1">
					<li class="breadcrumb-item"><a href="#home">Smart Book</a></li>
					<li class="breadcrumb-item active">Giỏ hàng</li>
				</ol>
			</nav>
		</div>
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12">
				<div class="card card-registration card-registration-2">
					<div class="card-body p-0">
						<div class="row g-0">
							<div class="col-lg-9" style="height: 700px">
								<div class="p-3">
									<div class="d-flex align-items-center">
										<h3 class="fw-bold m-0 fs-3">
											<img src="/index/img/cart.png" width="35px"
												class="m-0 p-0 mb-2" alt=""> GIỎ HÀNG
										</h3>
										&ensp;
										<h6 class="mb-0 text-muted">({{carts.length}} sản phẩm)</h6>
									</div>
									<hr class="mt-2 mb-2">
									<div class="header-cart fw-bold">
										<div class="row">
											<div class="col-6">
												<input class="form-check-input" type="checkbox" 
													id="chkAll">&ensp;Chọn tất cả <span class="small">({{carts.length}}
												sản phẩm)</span>
											</div>
											<div class="col-2">Số lượng</div>
											<div class="col-3 text-center">Thành tiền</div>
											<div class="col-1"></div>
										</div>
									</div>
									<hr class="mt-2 mb-2">
									<div ng-repeat="cart in carts track by $index">
										<div
											class="row d-flex justify-content-between align-items-center">
											<div class="col-1">
												<input ng-change="selectInput()" class="form-check-input"
													type="checkbox" ng-model="selectBook" name="book"
													ng-value={{$index}}>
											</div>
											<div class="col-1">
												<img src="data:image/jpg;base64,{{cart.book.image}}" class="img-fluid rounded-3">
											</div>
											<div class="col-4">
												<h6 class="text-black mb-0">{{cart.book.name}}</h6>
											</div>
											<div class="col-2 d-flex">
												<input id="{{'input'+$index}}" min="0" name="quantity" ng-keyup="changeAmount($index)" ng-model="amount" ng-value="cart.amount" type="text"
													class="form-control form-control-sm" />
											</div>
											<div class="col-3 text-center">
												<h6 class="mb-0">{{convertText((cart.book.price*(100-cart.book.discount)/100)*cart.amount)}}đ</h6>
											</div>
											<div class="col-1 text-end">
												<button ng-click="deleteCart($index)" class="btn btn-out-line-dark text-muted">
													<i class="fas fa-times text-light"></i>
												</button>
											</div>
										</div>
										<hr class="mt-2 mb-2">
									</div>

								</div>
							</div>
							<div class="col-lg-3 bg-grey">
								<div class="p-3">
									<h3 class="fw-bold m-0 fs-5">
										<i class="fa-sharp fa-solid fa-ticket"></i> Mã khuyến mãi
									</h3>
									<hr class="mt-2 mb-2">
									<div style="min-height: 400px">
										
									</div>
									<hr class="my-2">
									<div class="d-flex justify-content-between">
										<h6>Tổng sản phẩm</h6>
										<h6>{{items +' sách' }}</h6>
									</div>
									<div class="d-flex justify-content-between">
										<h6>Tổng tiền sản phẩm</h6>
										<h6>{{convertText(total)}}đ</h6>
									</div>
									<div class="d-flex justify-content-between">
										<h6>Phí vận chuyển</h6>
										<h6 ng-show="total>0">30.000đ</h6>
										<h6 ng-show="total==0">0đ</h6>
									</div>
									<div class="d-flex justify-content-between">
										<h6>Giảm giá</h6>
										<h6>0đ</h6>
									</div>
									<div class="d-flex justify-content-between mb-5">
										<h5 class="text-uppercase">Tổng số tiền</h5>
										<h5 ng-show="total>0">{{convertText(total+30000)}}đ</h5>
										<h5 ng-show="total==0">0đ</h5>
									</div>
									
									<button type="button" class="btn btn-dark btn-block btn-lg bg"
										data-mdb-ripple-color="dark" ng-click="beforePay()">Thanh toán</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirmModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Xác nhận thanh
							toán</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">Bạn có chắn muốn mua các sách đã
						chọn?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Không</button>
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal" ng-click="pay()">Chắc chắn</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
