<div class="container" >
    <div class="form-check form-check-inline" ng-repeat="s in status" ng-hide="authen.role.id==3 && (s.id==1||s.id==3||s.id==4||s.id==5||s.id==6)">
        <input class="form-check-input" type="radio" name="status" id="status{{$index}}" value="{{$index}}"
            ng-model="sta.s" ng-checked="$index==isChecked()" ng-change="getData(0)">
        <label class="form-check-label text-{{s.color}}" for="status{{$index}}">{{s.value}}</label>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <span class="fs-5">Danh sách hóa đơn đổi</span>
                </div>
                <!-- <div class="col-4">
                    <div class="input-group ">
                        <button class="btn btn-outline-secondary" type="button" ng-click="reset()">Đặt lại</button>
                        <input type="text" class="form-control" placeholder="Nhập mã giao dịch ..." id="tranSn">
                        <button class="btn btn-outline-secondary" type="button" ng-click="search()">Tìm
                            kiếm</button>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <th>Mã giao dịch</th>
                    <th>Ngày đổi</th>
                    <th>Trạng thái</th>
                    <th>Ghi chú</th>
                    <th colspan="2" style="width: 5%;" ng-hide="sta.s==2||sta.s==4||sta.s==5"></th>
                </thead>
                <tbody>
                    <tr ng-repeat="bill in bills">
                        <td class="align-middle">{{bill.bill.tranSn}}</td>
                        <td class="align-middle" ng-click="getDetail(bill.id)">{{formatDate(bill.createdTime)}}</td>
                        <td class="align-middle" ng-click="getDetail(bill.id)">
                            <span class="{{'text-'+bill.status.color}}">{{bill.status.value}}</span>
                        </td>
                        <td class="align-middle" ng-click="getDetail(bill.id)">
                            {{bill.message}}
                        </td>
                        <td ng-show="sta.s==2" class="align-middle" ng-click="getDetail(bill.id)">{{bill.message}}
                        </td>
                        <td ng-hide="bill.status.id==3 || bill.status.id==5 ||bill.status==6">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="{{'#modal'+$index}}" ng-show="authen.role.id==2"><i
                                    class="fa-solid fa-xmark"></i></button>
                            <div class="modal fade" id="{{'modal'+$index}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nhận lý do</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label for="message">Lý do:</label>
                                                </div>
                                                <div class="col-10">
                                                    <textarea name="message" id="message{{$index}}"
                                                        class="form-control" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Không</button>
                                            <button type="button" class="btn btn-danger"
                                                ng-click="showModal($index)">Hủy đơn</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="{{'cancel'+$index}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận hủy đơn</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc muốn hủy đơn hàng này?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                ng-click="hideModal($index)">Không</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                ng-click="cancel($index)">Chắc chắn</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-hide="bill.status.id==6 || bill.status.id==3 || bill.status.id==5 || (bill.status.id==2 && authen.role.id==2)">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="{{'#conf'+bill.id}}"><i
                                    class="fa-solid fa-check"></i></button>
                            <div class="modal fade" id="conf{{bill.id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắn thực hiện đơn?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Không</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                ng-click="submit($index)">Chắc
                                                chắn</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="users.totalPages!=0">
                    <tr>
                        <td colspan="6">
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn btn-primary me-3" ng-click="getData(0)" ng-disabled="page==0">
                                    <span class="fas fa-backward"></span>
                                </button>
                                <button class="btn btn-primary me-3" ng-click="getData(page-1)"
                                    ng-disabled="page==0"><span class="fas fa-backward-step"></span></button>
                                <h4>{{users.pageable.pageNumber+1}}/{{users.totalPages}}</h4>
                                <button class="btn btn-primary ms-3 me-3" ng-click="getData(page+1)"
                                    ng-disabled="page==users.totalPages-1"><span
                                        class="fas fa-forward-step"></span></button>
                                <button class="btn btn-primary" ng-click="getData(users.totalPages-1)"
                                    ng-disabled="page==users.totalPages-1">
                                    <span class="fas fa-forward"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="modal fade" id="detailmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mã hóa đơn: {{details[0].returnBill.bill.tranSn}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <th>Tên sách</th>
                            <th>Hình ảnh</th>
                            <th>Số lượng</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in details">
                                <td>{{detail.book.name}}</td>
                                <td>{{detail.book.img}}</td>
                                <td align="center">{{detail.amount}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th colspan="4">Trạng thái: <span
                                    class="{{'text-'+details[0].returnBill.status.color}}">{{details[0].returnBill.status.value}}</span>
                            </th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>