<div class="pagetitle">
	<h1>Tác giả</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Smart Book</a></li>
			<li class="breadcrumb-item">Quản lý sách</li>
			<li class="breadcrumb-item active">Tác giả</li>
		</ol>
	</nav>
</div>
<!-- End Page Title -->

<section class="section">
	<div class="row">
		<div class="col-lg-3">
			<div class="card">
				<div class="card-body m-0 p-0">
					<div class="card">
						<div class="card-body pb-0">
							<h5 class="card-title pb-0">Tìm kiếm</h5>
							<input type="text" ng-model="keyWord" ng-change="getDataReset()"
								placeholder="Từ khoá" title="Enter search keyword"
								class="form-control">
						</div>
						<div class="card-body pb-0">
							<h5 class="card-title pb-0">Số lượng đầu sách</h5>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getAuthor" type="radio" id="f1" value="0"> <label
									style="cursor: pointer;" class="form-check-label" for="f1">Tất
									cả</label>
							</div>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getAuthor" type="radio" id="f2" value="1"> <label
									style="cursor: pointer;" class="form-check-label" for="f2">1
									đến 50</label>
							</div>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getAuthor" type="radio" id="f3" value="2"> <label
									style="cursor: pointer;" class="form-check-label" for="f3">51
									đến 100</label>
							</div>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getAuthor" type="radio" id="f4" value="3"> <label
									style="cursor: pointer;" class="form-check-label" for="f4">
									Lớn hơn 100</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg">
			<div class="card">
				<div class="card-body">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title fs-3">Danh sách tác giả</h5>

							<!-- Pagination with icons -->
							<div class="row d-flex">
								<div class="col-4">
									<button type="button" data-bs-toggle="modal"
										data-bs-target="#createModal"
										class="btn btn-primary btn-sm rounded-pill ps-3 pe-3 mt-1">
										<i class="bi bi-plus-circle"></i>&ensp;Thêm mới
									</button>
									&ensp;
									<button type="button"
										class="btn btn-danger btn-sm rounded-pill ps-3 pe-3 mt-1"
										ng-click="showDeleteListModal()">
										<i class="bi bi-dash-circle"></i>&ensp;Xoá bỏ
									</button>
								</div>
								<div class="col-4">
									<ul class="pagination justify-content-center">
										<li class="page-item "><a class="page-link"
											aria-label="Previous" ng-click="previousPage()"> <span
												aria-hidden="true">&laquo;</span>
										</a></li>

										<li class="page-item"><i class="page-link"> 
											<i ng-show="!pageAuthor.empty">Trang số: {{pageAuthor.number + 1}}/{{pageAuthor.totalPages}}</i> 
											<i ng-show="pageAuthor.empty">Trang trống</i>
										</i></li>

										<li class="page-item"><a class="page-link"
											aria-label="Next" ng-click="nextPage()"> <span
												aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</div>
								<div class="col-4">
									<div class="row">
										<div class="col"></div>
										<div class="col-8">
											<select class="form-select" ng-model="sortAuthor"
												ng-change="getDataReset()">
												<option value="0">Ngày thêm mới A - Z</option>
												<option value="1">Ngày thêm mới Z - A</option>
												<option value="2">Tác giả A - Z</option>
												<option value="3">Tác giả Z - A</option>
												<option value="4">Số đầu sách tăng dần</option>
												<option value="5">Số đầu sách giảm dần</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Small tables -->
							<table ng-show="!pageAuthor.empty"
								class="table table-sm mt-3" id="example">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Tác giả</th>
										<th class="text-center" scope="col">Các đầu sách</th>
										<th scope="col"></th>
										<th scope="col"></th>
										<th scope="col"><!-- <input class="form-check-input" type="checkbox" id="chkAll" onchange="selectAll()"> --></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="p in pageAuthor.content">
										<th scope="row">{{pageIndex*10 + $index + 1}}</th>
										<td>{{p.name}}</td>
										<td class="text-center">
											 <a ng-show="listBook[p.id].length > 0" type="button" data-bs-toggle="modal" data-bs-target="{{'#modal' + p.id}}">
											{{listBook[p.id].length}} đầu sách</a> 
											<a ng-show="listBook[p.id].length <= 0 || listBook[p.id] == null"><i>---------------</i></a></td> 
										<td><a ng-click="showUpdateModal(p)"><i
												class="bi bi-pencil text-warning"></i></a></td>
										<td><a ng-click="showDeleteModal(p)"><i
												class="bi bi-trash text-danger"></i></a></td>
										<td><input class="form-check-input" type="checkbox" value="{{p}}" name="chk"></td>
									</tr>
								</tbody>
							</table>

							<div class="mt-4" ng-show="pageAuthor.empty">
								<h5 class="card-title m-0 p-0 fs-1">Danh sách tác giả
									trống!</h5>
							</div>
							<!-- End small tables -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Create Modal  -->
<div class="modal fade" id="createModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="index.html" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row mb-3">
						<label for="inputEmail3" class="col-sm-4 col-form-label fw-bold">Tác giả: </label>
						<div class="col-sm">
							<input type="text" class="form-control" id="createInput"
								ng-model="createInput">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="createAuthor()">Thêm mới</button>
			</div>
		</div>
	</div>
</div>
<!-- End Create Modal-->
<!-- Update Modal  -->
<div class="modal fade" id="updateModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="index.html" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row mb-3">
						<label for="inputEmail3" class="col-sm-4 col-form-label fw-bold">Tác giả: </label>
						<div class="col-sm">
							<input type="text" class="form-control" id="updateInput"
								ng-model="updateInput">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="updateAuthor()">Chỉnh sửa</button>
			</div>
		</div>
	</div>
</div>
<!-- End Update Modal-->
<!-- Delete Modal  -->
<div class="modal fade" id="deleteModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="index.html" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-6">Bạn có chắc chắn muốn xoá
					tác giả "{{deleteInput}}" vĩnh viễn?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="deleteAuthor()">Xác nhận "XOÁ"</button>
			</div>
		</div>
	</div>
</div>
<!-- End Delete Modal-->
<!-- Delete List Modal  -->
<div class="modal fade" id="deleteListModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="index.html" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-6">
					Bạn có chắc chắn muốn xoá những tác giả [<i ng-repeat="p in lstId">&ensp;"{{p.name}}"&ensp;</i>] vĩnh viễn?
				</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="deleteListAuthor()">Xác nhận "XOÁ"</button>
			</div>
		</div>
	</div>
</div>
<!-- End Delete List Modal-->
<!-- Data Modal  -->
<div class="modal fade" ng-repeat="p in pageAuthor.content"
	id="{{'modal'+ p.id}}" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="index.html" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-5">Đầu sách của tác giả:
					{{p.name}}</h5>
				<!-- Small tables -->
				<table class="table table-sm mt-3" id="example">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Tên sách</th>
							<th class="text-center" scope="col">Giá tiền</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="book in listBook[p.id]">
							<th scope="row">{{$index + 1}}</th>
							<td>{{book.name}}</td>
							<td class="text-center">{{book.price}}</td>
						</tr>
					</tbody>
				</table>
				<!-- End small tables -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					data-bs-dismiss="modal">Thêm mới</button>
			</div>
		</div>
	</div>
</div>
<!-- End Data Modal-->
