
<div class="pagetitle">
	<h1>Thông tin cá nhân</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#home">Smart Book</a></li>
			<li class="breadcrumb-item">Người dùng</li>
			<li class="breadcrumb-item active">Thông tin cá nhân</li>
		</ol>
	</nav>
</div>
<!-- End Page Title -->

<section class="section profile">
	<div class="row">
		<div class="col-xl-4">

			<div class="card">
				<div
					class="card-body profile-card pt-4 d-flex flex-column align-items-center">
					<img src="/index/img/xuxai.jpg" alt="Profile"
						class="rounded-circle">
					<h2>{{authen.fullname}}</h2>
					<h3>{{authen.role.value}}</h3>
				</div>
			</div>

		</div>

		<div class="col-xl-8">

			<div class="card">
				<div class="card-body pt-3">
					<!-- Bordered Tabs -->
					<ul class="nav nav-tabs nav-tabs-bordered">

						<li class="nav-item">
							<button class="nav-link active" data-bs-toggle="tab"
								data-bs-target="#profile-overview">Tổng quan</button>
						</li>

						<li class="nav-item">
							<button class="nav-link" data-bs-toggle="tab"
								data-bs-target="#profile-edit">Chỉnh sửa hồ sơ</button>
						</li>

						<li class="nav-item">
							<button class="nav-link" data-bs-toggle="tab"
								data-bs-target="#profile-change-password">Đổi mật khẩu</button>
						</li>

					</ul>
					<div class="tab-content pt-2">
						<div class="tab-pane fade show active profile-overview"
							id="profile-overview">
							<h5 class="card-title">Chi tiết hồ sơ</h5>
								<div class="row">
									<label for="imgae"
										class="col-md-4 col-lg-3 col-form-label">Hình ảnh</label>
									<div class="col-md-8 col-lg-9">
										<img src="/index/img/xuxai.jpg" width="150px" height="150px">
									</div>
								</div>
							<div class="row">
								<div class="col-lg-3 col-md-4 label ">Họ và tên</div>
								<div class="col-lg-9 col-md-8">{{authen.fullname}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Địa chỉ</div>
								<div class="col-lg-9 col-md-8">{{authen.address}}</div>
							</div>


							<div class="row">
								<div class="col-lg-3 col-md-4 label">Email</div>
								<div class="col-lg-9 col-md-8">{{authen.email}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Số điện thoại</div>
								<div class="col-lg-9 col-md-8">{{authen.phoneNumber}}</div>
							</div>


							<div class="row">
								<div class="col-lg-3 col-md-4 label">Vai trò</div>
								<div class="col-lg-9 col-md-8">{{authen.role.value}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Trạng thái</div>
								<div class="col-lg-9 col-md-8 text-{{authen.status.color}}">{{authen.status.value}}</div>
							</div>


						</div>

						<div class="tab-pane fade profile-edit pt-3" id="profile-edit">

							<!-- Profile Edit Form -->
							<form>
								<div class="row mb-3">
									<label for="imgae"
										class="col-md-4 col-lg-3 col-form-label">Hình ảnh</label>
									<div class="col-md-8 col-lg-9">
										<img src="/index/img/xuxai.jpg" width="100px" height="100px">
										<input type="file" name="" id="imgae" class=" mt-2 form-control" accept=".jpg,.png,.jpeg" file-model="curentUser.image">
									</div>
								</div>

								<div class="row mb-3">
									<label for="name" class="col-md-4 col-lg-3 col-form-label">Họ
										và tên</label>
									<div class="col-md-8 col-lg-9">
										<input type="text" name="" id="name" class="form-control"
											autocomplete="off" ng-model="curentUser.fullname"> <small
											class="text-danger" id="fullnameId"></small>
									</div>
								</div>


								<div class="row mb-3">
									<label for="address" class="col-md-4 col-lg-3 col-form-label">Địa
										chỉ</label>
									<div class="col-md-8 col-lg-9">
										<input type="text" name="" id="address" class="form-control"
											autocomplete="off" ng-model="curentUser.address"> <small
											class="text-danger" id="addressId"></small>
									</div>
								</div>

								<div class="row mb-3">
									<label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
									<div class="col-md-8 col-lg-9">
										<input type="email" name="" id="email" class="form-control"
											autocomplete="off" ng-model="curentUser.email"> <small
											class="text-danger" id="emailId"></small>
									</div>
								</div>

								<div class="row mb-3">
									<label for="sdt" class="col-md-4 col-lg-3 col-form-label">Số
										điện thoại</label>
									<div class="col-md-8 col-lg-9">
										<input type="text" name="" id="sdt" class="form-control"
											autocomplete="off" ng-model="curentUser.phoneNumber">
										<small class="text-danger" id="phoneNumberId"></small>
									</div>
								</div>

								<div class="text-center">
									<button class="btn btn-secondary" ng-click="reset()">Đặt
										lại</button>
									<button type="submit" class="ms-2 btn btn-primary"
										ng-click="check()">Lưu thay đổi</button>
								</div>
							</form>
							<!-- End Profile Edit Form -->

						</div>


						<div class="tab-pane fade pt-3" id="profile-change-password">
							<!-- Change Password Form -->
							<form>

								<div class="row mb-3">
									<label for="oldPassId"
										class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện
										tại</label>
									<div class="col-md-8 col-lg-9">
										<input type="password" ng-model="req.oldPass" class="form-control"
												id="oldPassId" required>
											<small id="oldPass" class="text-danger"></small>
									</div>
								</div>

								<div class="row mb-3">
									<label for="newPassId"
										class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
									<div class="col-md-8 col-lg-9">
										<input type="password" ng-model="req.newPass" class="form-control"
												id="newPassId" required>
											<small id="newPass" class="text-danger"></small>
									</div>
								</div>

								<div class="row mb-3">
									<label for="confirmId"
										class="col-md-4 col-lg-3 col-form-label">Xác nhận mật
										khẩu</label>
									<div class="col-md-8 col-lg-9">
										<input type="password" ng-model="req.confirm" class="form-control"
												id="confirmId" required>
											<small id="confirm" class="text-danger"></small>
									</div>
								</div>

								<div class="text-center">
									<button type="submit" class="btn btn-primary" ng-click="change()">Đổi mật
										khẩu</button>
								</div>
							</form>
							<!-- End Change Password Form -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="saveModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-6">Bạn chắc chắn muốn thay đổi thông tin?
			</div>
			<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="save()">Chắc chắn</button>
			</div>
		</div>
	</div>
</div>
