<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body ng-app="myApp">
    <div ng-controller="userController">
        <a class="btn btn-primary mt-2 mb-2" href="/user/create.html">Thêm mới</a>
        <div class="cart">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <span class="fs-5">Danh sách người dùng</span>
                    </div>
                    <div class="col-4">
                        <div class="input-group ">
                            <button class="btn btn-outline-secondary" type="button" ng-click="reset()">Đặt lại</button>
                            <input type="text" class="form-control" placeholder="Nhập họ tên ..." id="fullname">
                            <button class="btn btn-outline-secondary" type="button" ng-click="search()">Tìm
                                kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="0" ng-model="user" ng-checked="user==0" ng-change="changeAuthor()">
                        <label class="form-check-label" for="inlineRadio1">User</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="1" ng-model="user" ng-change="changeAuthor()">
                        <label class="form-check-label" for="inlineRadio2">Admin</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="2" ng-model="user" ng-change="changeAuthor()">
                        <label class="form-check-label" for="inlineRadio3">Shipper</label>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <th>Email</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                        <th colspan="2"></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users.content">
                            <td style="width: 15%;">
                                {{user.email}}
                            </td>
                            <td style="width: 15%;">
                                {{user.fullname}}
                            </td>
                            <td style="width: 10%;" class="text-truncate">
                                {{user.phoneNumber}}
                            </td>
                            <td style="width: 30%;" class="text-truncate">
                                {{user.address}}
                            </td>
                            <td style="width: 15%">
                                <span class="text-{{user.status.color}}">{{user.status.value}}</span>
                            </td>
                            <td>
                                <button class="btn" ng-click="edit(user.id)"><i
                                        class="fa-solid fa-pen-to-square"></i></button>
                            </td>
                            <td>
                                <button ng-hide="user.status.id==2" class="btn" data-bs-toggle="modal" data-bs-target="{{'#modal'+user.id}}"><i
                                        class="fa-solid fa-user-slash"></i></button>
                                <button ng-hide="user.status.id==1" class="btn" data-bs-toggle="modal" data-bs-target="{{'#modal'+user.id}}"><i
                                        class="fa-solid fa-user-check"></i></button>
                                <div class="modal fade" id="{{'modal'+user.id}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <span ng-hide="user.status.id==2">Bạn có chắc chắn muốn vô hiệu tài khoản này?</span>
                                                <span ng-hide="user.status.id==1">Bạn có chắc chắn muốn vô khôi phục tài khoản này?</span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button ng-hide="user.status.id==2" type="button" class="btn btn-danger" data-bs-dismiss="modal"  ng-click="disable($index,'D')">Xác nhận</button>
                                                <button ng-hide="user.status.id==1" type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="disable($index,'A')">Xác nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="users.totalPages!=0">
                        <tr>
                            <td colspan="6">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-primary me-3" ng-click="getUser(0)" ng-disabled="page==0">
                                        <span class="fas fa-backward"></span>
                                    </button>
                                    <button class="btn btn-primary me-3" ng-click="getUser(page-1)"
                                        ng-disabled="page==0"><span class="fas fa-backward-step"></span></button>
                                    <h4>{{users.pageable.pageNumber+1}}/{{users.totalPages}}</h4>
                                    <button class="btn btn-primary ms-3 me-3" ng-click="getUser(page+1)"
                                        ng-disabled="page==users.totalPages-1"><span
                                            class="fas fa-forward-step"></span></button>
                                    <button class="btn btn-primary" ng-click="getUser(users.totalPages-1)"
                                        ng-disabled="page==users.totalPages-1">
                                        <span class="fas fa-forward"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script>
        const app = angular.module("myApp", []);
        app.controller("userController", function ($scope, $http) {
            $scope.users = {};
            $scope.user = "0";
            $scope.page = 0;
            $scope.fullname = "";
            $http.get("/api/admin/user?page=0&role=" + $scope.user).then(function (response) {
                $scope.users = response.data.data
            })
            $scope.changeAuthor = function () {
                $scope.page = 0;
                $scope.fullname = "";
                document.getElementById("fullname").value = "";
                $http.get("/api/admin/user?page=0&role=" + $scope.user + "&fullname=" + $scope.fullname).then(function (response) {
                    $scope.users = response.data.data
                })
            }
            $scope.getUser = function (index) {
                $scope.page = index;
                $http.get("/api/admin/user?page=" + index + "&role=" + $scope.user + "&fullname=" + $scope.fullname).then(function (response) {
                    $scope.users = response.data.data
                })
            }
            $scope.search = function () {
                $scope.page = 0;
                $scope.fullname = document.getElementById("fullname").value;
                $scope.getUser(0);
            }
            $scope.reset = function () {
                $scope.page = 0;
                $scope.fullname = "";
                document.getElementById("fullname").value = "";
                $scope.getUser(0);
            }
            $scope.disable = function (index, action) {
                let id = $scope.users.content[index].id;
                $http.patch("/api/admin/user/" + id, action).then(function (response) {
                    if (response.data.statusCode == "ok") {
                        Toast.fire({
                            icon: 'success',
                            title: response.data.data
                        })
                        if (action == "D") {
                            $scope.users.content[index].status.color = "danger";
                            $scope.users.content[index].status.value = "Ngừng hoạt động";
                            $scope.users.content[index].status.id = "2";
                        } else {
                            $scope.users.content[index].status.color = "primary";
                            $scope.users.content[index].status.value = "Đang hoạt động";
                            $scope.users.content[index].status.id = "1";
                        }
                    } else {
                        Toast.fire({
                            icon: 'error',
                            title: response.data.data
                        })
                    }
                })
            }
        });
    </script>
</body>

</html>