<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Smart Book</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/index/img/logo.jpg" rel="icon">
<link href="/index/img/logo.jpg" rel="apple-touch-icon">

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Vendor CSS Files -->
<link href="/index/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/index/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/index/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/index/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/index/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/index/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/index/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/index/css/style.css" rel="stylesheet">
<!-- CDN Alert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body ng-app="myApp" ng-controller="ctrlModule">
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="#home" class="logo d-flex align-items-center"> <img
				src="/index/img/logo.jpg" alt=""> <span
				class="d-none d-lg-block">Smart Book</span>
			</a> <i class="bi bi-list toggle-sidebar-btn"></i>
		</div>

		<div class="search-bar">
			<form class="search-form d-flex align-items-center" action="#">
				<input type="text" name="query" placeholder="Tìm kiếm"
					title="Enter search keyword">
			</form>
		</div>

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item d-block d-lg-none"><a
					class="nav-link nav-icon search-bar-toggle " href="#"> <i
						class="bi bi-search"></i>
				</a></li>
				<!-- End Search Icon-->

				<li class="nav-item dropdown"><a class="nav-link nav-icon"
					href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i>
						<span class="badge bg-primary badge-number">1</span>
				</a> <!-- End Notification Icon -->
					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
						<li class="dropdown-header">Bạn có 1 thông báo mới<a href="#">
								<span class="badge rounded-pill bg-primary p-2 ms-2">Xem
									tất cả</span>
						</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li class="notification-item"><i
							class="bi bi-info-circle text-primary"></i>
							<div>
								<h4>Lực Xì Trum</h4>
								<p>Đã đặt mua sản phẩm "Quần xì lọt khe".</p>
								<p>4 phút trước</p>
							</div></li>

						<li>
							<hr class="dropdown-divider">
						</li>
						<li class="dropdown-footer"><a href="#">Xem tất cả thông
								báo</a></li>

					</ul> <!-- End Notification Dropdown Items --></li>
				<!-- End Notification Nav -->

				<li class="nav-item dropdown"><a class="nav-link nav-icon"
					href="#" data-bs-toggle="dropdown"> <i
						class="bi bi-chat-left-text"></i> <span
						class="badge bg-success badge-number">1</span>
				</a> <!-- End Messages Icon -->

					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
						<li class="dropdown-header">Bạn có 1 tin nhắn mới <a href="#">
								<span class="badge rounded-pill bg-primary p-2 ms-2">Xem
									tất cả</span>
						</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li class="message-item"><a href="#"> <img
								src="/index/img/xuxai.jpg" alt="" class="rounded-circle">
								<div>
									<h4>Lực Xì Trum</h4>
									<p>Quần xì lọt khe bên shop có màu hường không zậy.</p>
									<p>1 phút trước</p>
								</div>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li class="dropdown-footer"><a href="#">Xem tất cả tin
								nhắn</a></li>

					</ul> <!-- End Messages Dropdown Items --></li>
				<!-- End Messages Nav -->

				<li class="nav-item dropdown pe-3"><a
					class="nav-link nav-profile d-flex align-items-center pe-0"
					href="#" data-bs-toggle="dropdown"> <img
						src="/index/img/xuxai.jpg" alt="Profile" class="rounded-circle">
						<span class="d-none d-md-block dropdown-toggle ps-2">&ensp;{{authen.fullname}}&ensp;</span>
				</a>

					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>{{authen.fullname}}</h6> <span>{{authen.role.value}}</span>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="users-profile.html"> <i class="bi bi-person"></i> <span>Thông
									tin cá nhân</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="users-profile.html"> <i class="bi bi-gear"></i> <span>Cài
									đặt tài khoản</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="pages-faq.html"> <i class="bi bi-question-circle"></i>
								<span>Cần hỗ trợ?</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="#"> <i class="bi bi-box-arrow-right"></i> <span>Đăng
									xuất</span>
						</a></li>

					</ul> <!-- End Profile Dropdown Items --></li>
				<!-- End Profile Nav -->

			</ul>
		</nav>
		<!-- End Icons Navigation -->

	</header>

	<aside id="sidebar" class="sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="{{m.classB}}" ng-repeat="m in listModule">
				
				<a ng-show="m.url==null && m.classB != 'nav-heading'" class="nav-link collapsed" data-bs-target="#{{'nav' + m.id}}" data-bs-toggle="collapse" href="#">
						<i class="{{m.icon}}"></i> <span>{{m.display}}</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul ng-show="m.url==null" id="{{'nav' + m.id}}"
					class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li ng-repeat="s in listSubModule[m.id]"><a
						href="{{'#' + s.url}}"> <i class="bi bi-circle"></i><span>{{s.display}}</span></a>
					</li>
				</ul>
				
				<b ng-show="m.classB == 'nav-heading' ">{{m.display}}</b>
				 
				<a ng-show="m.url!=null && m.classB != 'nav-heading'" class="nav-link collapsed" href="{{m.url}}"> 
				 	<i class="{{m.icon}}"></i> <span>{{m.display}}</span>
				</a>
			</li>
		</ul>
	</aside>



	<main id="main" class="main">
		<div ng-view></div>
	</main>

	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>Smart Book</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			Designed by <a href="https://www.facebook.com/phuthai02/">Phu
				Thai Doan</a>
		</div>
	</footer>


	<!-- Vendor JS Files -->
	<script src="/index/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/index/vendor/chart.js/chart.min.js"></script>
	<script src="/index/vendor/echarts/echarts.min.js"></script>
	<script src="/index/vendor/quill/quill.min.js"></script>
	<script src="/index/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/index/vendor/tinymce/tinymce.min.js"></script>
	<script src="/index/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/index/js/main.js"></script>

	<!-- AngularJs -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


	<!-- Controller JS File -->
	<script src="/index/js/book/type/type.js"></script>
	<script src="/index/js/book/author/author.js"></script>
	<script src="/index/js/book/book/book.js"></script>
	<script src="/index/js/book/charactor/charactor.js"></script>
	<script src="/index/js/book/content/content.js"></script>
	<script src="/index/js/book/publisher/publisher.js"></script>
	<script src="/index/js/book/publisher/publisher.js"></script>
	<script src="/index/js/control/login/login.js"></script>
	<script src="/index/js/user/user.js"></script>
	<script src="/index/js/coupon/coupon.js"></script>
	<script src="/index/js/control/home/home.js"></script>

	
	
	<!-- Ready Controller JS File -->
	<script src="/index/js/ready/module.js"></script>
	<!-- MyApp JS File -->
	<script src="/index/js/ready/myapp.js"></script>
</body>

</html>