<div class="pagetitle">
	<h1>Đơn vận chuyển</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#home">Smart Book</a></li>
			<li class="breadcrumb-item">Quản lý đơn hàng</li>
			<li class="breadcrumb-item active">Đơn vận chuyển</li>
		</ol>
	</nav>
</div>
<section class="section">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-body m-0 p-0">
					<div class="card pb-4 m-0">

						<div class="card-body pb-0">
							<h5 class="card-title pb-0">Trạng thái</h5>
							<div class="form-check form-switch" ng-repeat="s in status" ng-hide="s.id==1||s.id==2||s.id==7">

								<input class="form-check-input" type="radio" name="status" id="status{{$index}}"
									value="{{$index}}" ng-model="sta.s" ng-checked="3==$index" ng-change="getData()">

								<label class="form-check-label text-{{s.color}}"
									for="status{{$index}}">{{s.value}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body ">
					<div class="card mt-4">
						<div class="card-body fix">
							<div class="row d-flex mt-3">
								<div class="col-4">
								</div>
								<div class="col-4">
									<ul class="pagination justify-content-center">
										<li class="page-item">
											<i class="page-link fw-bold text-danger">
												Có {{bills.length}} đơn hàng {{status[sta.s].value.toLowerCase()}}
											</i>
										</li>
									</ul>
								</div>
								<div class="col-4">

								</div>
							</div>
							<!-- Small tables -->
							<div class="table-wrapper overflow-auto" style="width: 100%; height: 97%">
								<table class="table table-hover table-sm mt-3" id="example" style="min-width: 110%;">
									<thead>
										<th>Mã giao dịch</th>
										<th>Ngày mua</th>
										<th>Loại đơn</th>
										<th>Trạng thái</th>
										<th ng-show="sta.s==2 || sta.s==0">Ghi chú</th>
										<th colspan="3" style="width: 5%;" ng-hide="sta.s==2||sta.s==4 || sta.s==5">
										</th>
									</thead>
									<tbody>
										<tr ng-repeat="bill in bills">
											<td class="align-middle">{{bill.id}}</td>
											<td class="align-middle" ng-click="getDetail($index)">
												{{formatDate(bill.createdTime)}}</td>
											<td class="align-middle" ng-click="getDetail($index)">{{bill.bill==true?'Đơn
												mua':'Đơn đổi'}}</td>
											<td class="align-middle" ng-click="getDetail($index)"><span
													class="{{'text-'+bill.status.color}}">{{bill.status.value}}</span>
											</td>
											<td ng-show="sta.s==2 || sta.s==0" class="align-middle"
												ng-click="getDetail($index)">{{bill.message}}</td>
											<td ng-show="sta.s==3">
												<button class="btn" data-bs-toggle="modal"
													data-bs-target="{{'#modal'+$index}}"><i
														class="fa-solid fa-xmark"></i></button>
												<div class="modal fade" id="{{'modal'+$index}}" tabindex="-1"
													aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">Nhận lý
																	do</h5>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<div class="row">
																	<div class="col-2">
																		<label for="message">Lý do:</label>
																	</div>
																	<div class="col-10">
																		<textarea name="message" id="message{{$index}}"
																			class="form-control" rows="3"></textarea>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Không</button>
																<button type="button" class="btn btn-danger"
																	ng-click="showModal($index)">Hủy đơn</button>
															</div>
														</div>
													</div>
												</div>
												<div class="modal fade" id="{{'cancel'+$index}}" tabindex="-1"
													aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">Xác nhận
																	hủy đơn</h5>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																Bạn có chắc muốn hủy đơn hàng này?
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	ng-click="hideModal($index)">Không</button>
																<button type="button" class="btn btn-danger"
																	data-bs-dismiss="modal"
																	ng-click="cancel($index)">Chắc chắn</button>
															</div>
														</div>
													</div>
												</div>
											</td>
											<td ng-show="sta.s==3">
												<button class="btn"><i class="fa-solid fa-user-xmark"
														data-bs-target="#userconf{{bill.id}}"
														data-bs-toggle="modal"></i></button>
												<div class="modal fade" id="userconf{{bill.id}}" tabindex="-1"
													aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">Xác nhận
																</h5>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																Khách không nhận thật sao?
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Không</button>
																<button type="button" class="btn btn-danger"
																	data-bs-dismiss="modal"
																	ng-click="userCancel($index)">Chắc
																	chắn</button>
															</div>
														</div>
													</div>
												</div>
											</td>
											<td ng-show="sta.s==3">
												<button class="btn" data-bs-toggle="modal"
													data-bs-target="{{'#conf'+bill.id}}"><i
														class="fa-solid fa-check"></i></button>
												<div class="modal fade" id="conf{{bill.id}}" tabindex="-1"
													aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">Xác nhận
																</h5>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																Bạn có chắn thực hiện đơn?
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Không</button>
																<button type="button" class="btn btn-danger"
																	data-bs-dismiss="modal"
																	ng-click="submit($index)">Chắc
																	chắn</button>
															</div>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- End small tables -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="detailmodalBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Mã hóa đơn:
						{{details[0].bill.tranSn}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-2"></th>
								<th class="col-4">Sản phẩm</th>
								<th class="col-2">SL</th>
								<th class="col-4">Đơn giá</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in details">
								<td class="col-2"><img src="data:image/jpg;base64,{{detail.book.image}}" alt=""
										class="rounded w-25"></td>
								<td class="col-4">{{detail.book.name}}</td>
								<td class="col-2">{{detail.amount}}</td>
								<td class="col-4">{{convertText(detail.price)}}</td>
							</tr>
						</tbody>
						<tfoot>
							<th colspan="4">Trạng thái: <span
									class="{{'text-'+details[0].bill.status.color}}">{{details[0].bill.status.value}}</span>
							</th>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="detailmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Mã hóa đơn:
						{{details[0].returnBill.id}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th></th>
								<th class="col-6">Sản phẩm</th>
								<th class="col-2">SL</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in details">
								<td class="col-2"><img src="data:image/jpg;base64,{{detail.book.image}}" alt=""
										class="rounded w-25"></td>
								<td class="col-4">{{detail.book.name}}</td>
								<td class="col-2">{{detail.amount}}</td>
							</tr>
						</tbody>
						<tfoot>
							<th colspan="4">Trạng thái: <span
									class="{{'text-'+details[0].returnBill.status.color}}">{{details[0].returnBill.status.value}}</span>
							</th>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>