<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Smart Book - Đăng nhập</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="/index/img/logo.jpg" rel="icon">
	<link href="/index/img/logo.jpg" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/index/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="/index/vendor/quill/quill.snow.css" rel="stylesheet">
	<link href="/index/vendor/quill/quill.bubble.css" rel="stylesheet">
	<link href="/index/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="/index/vendor/simple-datatables/style.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="/index/css/style.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
		integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body ng-app="myApp">

	<main ng-controller="passCtrl">
		<div class="container">

			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

							<div class="card mb-3">

								<div class="card-body">

									<div class="pt-4 pb-2">
										<div class="d-flex justify-content-center py-3">
											<a href="index.html" class="logo d-flex align-items-center w-auto"> <img
													src="/index/img/logo.jpg" alt=""> <span
													class="d-none d-lg-block">Smart Book</span>
											</a>
										</div>

										<p class="text-center small">Đổi mật khẩu với tài khoản Smart Book Admin</p>
									</div>
									<form class="row g-3 needs-validation" novalidate>
										<div class="col-12">
											<label for="oldPassId" class="form-label">Mật khẩu cũ</label>
											<input type="password" ng-model="req.oldPass" class="form-control"
												id="oldPassId" required>
											<small id="oldPass" class="text-danger"></small>
										</div>
										<div class="col-12">
											<label for="newPassId" class="form-label">Mật khẩu mới</label>
											<input type="password" ng-model="req.newPass" class="form-control"
												id="newPassId" required>
											<small id="newPass" class="text-danger"></small>
										</div>
										<div class="col-12">
											<label for="confirmId" class="form-label">Xác nhận mật khẩu</label>
											<input type="password" ng-model="req.confirm" class="form-control"
												id="confirmId" required>
											<small id="confirm" class="text-danger"></small>
										</div>
										<div class="col-12">
											<button class="btn btn-primary w-100" type="button" ng-click="change()">Đổi
												mật khẩu</button>
										</div>
									</form>

								</div>
							</div>

						</div>
					</div>
				</div>

			</section>

		</div>
	</main>
	<!-- End #main -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="/index/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/index/vendor/chart.js/chart.min.js"></script>
	<script src="/index/vendor/echarts/echarts.min.js"></script>
	<script src="/index/vendor/quill/quill.min.js"></script>
	<script src="/index/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/index/vendor/tinymce/tinymce.min.js"></script>
	<script src="/index/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="/index/js/main.js"></script>
	<script>
		const app = angular.module("myApp", []);
		app.controller("passCtrl", function ($scope, $http) {
			$scope.req = {
				oldPass: "",
				newPass: "",
				confirm: ""
			}
			$scope.init = function () {
				document.getElementById("oldPass").innerText = "";
				document.getElementById("newPass").innerText = "";
				document.getElementById("confirm").innerText = "";
			}
			$scope.change = function () {
				$scope.init();
				$http.put("/api/admin/change", $scope.req).then(function (response) {
					if (response.data.statusCode == "error") {
						document.getElementById("oldPass").innerText = response.data.oldPass;
						document.getElementById("newPass").innerText = response.data.newPass;
						document.getElementById("confirm").innerText = response.data.confirm;
					} else {
						Toast.fire({
							icon: 'success',
							title: response.data.data
						})
						sleep(1000).then(() => {
							window.location.href = "/logout";
						});
					}
				})
			}
		})
	</script>
</body>

</html>