
<div class="pagetitle">
	<h1>Trang chủ</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#home">Smart Book</a></li>
			<li class="breadcrumb-item active">Trang chủ</li>
		</ol>
	</nav>
</div>
<!-- End Page Title -->

<section class="section dashboard">
	<div class="row">

		<!-- Left side columns -->
		<div class="col-lg-12">
			<div class="row">

				<!-- Sales Card -->
				<div class="col-xxl-4 col-md-6">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">
								Số lượng bán <span>| Hôm nay</span>
							</h5>

							<div class="d-flex align-items-center">
								<div
									class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-cart"></i>
								</div>
								<div class="ps-3">
									<h5>{{home.sale}}</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- End Sales Card -->

				<!-- Revenue Card -->
				<div class="col-xxl-4 col-md-6">
					<div class="card info-card revenue-card">
						<div class="card-body">
							<h5 class="card-title">
								Số lượng bán <span>| Toàn bộ</span>
							</h5>

							<div class="d-flex align-items-center">
								<div
									class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-currency-dollar"></i>
								</div>
								<div class="ps-3">
									<h5>{{home.sales}}</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- End Revenue Card -->

				<!-- Customers Card -->
				<div class="col-xxl-4 col-xl-12">

					<div class="card info-card customers-card">
						<div class="card-body">
							<h5 class="card-title">
								Số khách <span>| Trong ngày</span>
							</h5>

							<div class="d-flex align-items-center">
								<div
									class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-people"></i>
								</div>
								<div class="ps-3">
									<h5>{{home.user}}</h5>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- End Customers Card -->
				<!-- Top Selling -->
				<div class="col-12">
					<div class="card top-selling overflow-auto">
						<div class="card-body pb-0">
							<h5 class="card-title">
								Bán chạy nhất
							</h5>

							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col">Ảnh</th>
										<th scope="col">Tên sách</th>
										<th scope="col">Giá</th>
										<th scope="col">Lượng bán</th>
										<th scope="col">Còn lại</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="b in home.books">
										<th scope="row"><img
												src="assets/img/product-1.jpg" alt=""></th>
										<td>{{b.name}}</td>
										<td>{{convertText(b.price - b.price*b.discount/100)}}</td>
										<td class="fw-bold">{{b.saleAmount}}</td>
										<td>{{b.amount}}</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
				<!-- End Top Selling -->

			</div>
		</div>
		<!-- End Left side columns -->
	</div>
</section>


