<section class="h-100 h-custom pb-0"
	style="color: var(- -color-primary)">
	<div class="container p-0 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12">
					<div class="card card-registration card-registration-2 mt-3 h-100">
						<div class="card-body p-0">
							<div class="row g-0">
								<div class="col-12 p-lg-5 p-md-3 p-sm-2 p-1"  style="min-height: 700px">
									<h1 class="text-success fw-bold text-center text-uppercase mb-lg-4 mb-md-3 mb-sm-2 mb-1"><i class="fa-solid fa-check"></i>&emsp;Quý khách đã đặt hàng thành công&emsp;<i class="fa-solid fa-check"></i></h1>
									<h5 class="fs-4 fw-bold text-center">Cảm ơn quý khách đã tin tưởng và sử dụng sản phẩm tại <img src="/index/img/s2.png" class="m-0 mb-2" width="15%" alt=""></h5>
									<div class="row d-flex justify-content-center align-items-center mb-lg-3 mb-2">
										<h5 class="fs-4 fw-bold text-center text-danger">MÃ ĐƠN HÀNG</h5>
										<div class="col-7 bg text-center">
											<span class="fw-bold" style="line-height: 4vw; font-size: 3vw;">{{tranSn}}</span>
										</div>
									</div>
									<h5 class="fs-6 text-center">Bạn có thể theo dõi đơn hàng tại <span class="fw-bold">Thông tin tài khoản > Theo dõi đơn hàng</span>.</h5>
									<h5 class="fs-6 text-center">Trong trường hợp cần gấp vui lòng liên hệ Hotline: <span class="text">1900 89 83 86</span> để được bộ phận phụ trách hỗ trợ kịp thời.</h5>
									<h5 class="fs-4 text-center fw-bold"><img src="/index/img/s2.png" class="m-0 mb-2" width="15%" alt=""> rất hân hạnh được phục vụ bạn!</h5>
									<div class="text-center mt-lg-4 mt-md-3 mt-sm-2 mt-1">
										<a href="#home"><button class="btn btn-dark small fw-bold text-uppercase pt-3 pb-3 ps-5 pe-5">Về trang chủ</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
