<section class="h-100 h-custom pb-0"
	style="color: var(- -color-primary)">
	<div class="container p-0 pb-0 h-100">
		<div class="pagetitle text">
			<nav>
				<ol class="breadcrumb mt-1 mb-1">
					<li class="breadcrumb-item"><a href="#home">Smart Book</a></li>
					<li class="breadcrumb-item active">Đặt hàng</li>
				</ol>
			</nav>
		</div>
		<div
			class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12">
				<div class="card card-registration card-registration-2">
					<div class="card-body p-0">
						<div class="row g-0">
							<div class="col-lg-8" style="height: 700px">
								<div class="p-3">
									<div class="d-flex align-items-center">
										<h3 class="fw-bold m-0 fs-3 text">
											<img src="/index/img/ship.png" width="35px"
												class="m-0 p-0 mb-2" alt=""> THÔNG TIN GIAO HÀNG
										</h3>
									</div>
									<hr class="mt-2 mb-2">
									<div class="header-cart fw-bold">
										<div class="row">
											<span class="text-center text">Người nhận hàng</span>
										</div>
									</div>
									<hr class="mt-2 mb-2">
									<div class="row p-lg-4 p-md-3 p-sm-2 p-1">
											<div class="col-md-6">
												<div class="col-md-12 mt-1 mb-1">
													<div class="form-floating">
														<input type="text" class="form-control" id="name" placeholder="Smart Book">
														<label for="name" class="text-center">Tên người nhận</label>
													</div>
												</div>
											</div>
											<div class="col-md-6 mt-1 mb-1">
												<div class="col-md-12">
													<div class="form-floating">
														<input type="text" class="form-control" id="sdt" placeholder="Smart Book">
														<label for="sdt" class="text-center">Số điện thoại</label>
													</div>
												</div>
											</div>
									</div>
									<hr class="mt-2 mb-2">
									<div class="header-cart fw-bold">
										<div class="row">
											<span class="text-center text">Địa chỉ nhận hàng</span>
										</div>
									</div>
									<hr class="mt-2 mb-2">
									<div class="row p-lg-4 p-md-3 p-sm-2 p-1">
										<div class="form-floating col-md-4 mt-1 mb-1">
							                    <select class="form-select" id="city" ng-model="city">
							                      <option value="" disabled>Chọn tỉnh/thành phố</option>
							                      <option ng-repeat="c in citys" value="{{c.id}}">{{c.name}}</option>
							                    </select>
							                    <label for="city" class="text-center">Tỉnh/Thành phố</label>
							             </div>
							             <div class="form-floating col-md-4 mt-1 mb-1">
							                    <select class="form-select" id="district" ng-model="district" ng-disabled="city==''">
							                      <option value="" disabled>Chọn quận/huyện</option>
							                      <option ng-repeat="d in districts[city]" value="{{d.id}}">{{d.name}}</option>
							                    </select>
							                    <label for="district" class="text-center">Quận/Huyện</label>
							             </div>
							             <div class="form-floating col-md-4 mt-1 mb-1">
							                    <select class="form-select" id="ward" ng-model="ward" ng-disabled="district==''">
							                      <option value="" disabled>Chọn xã/phường</option>
							                      <option ng-repeat="w in wards[district]" value="{{$index}}">{{w.name}}</option>
							                    </select>
							                    <label for="ward" class="text-center">Xã/Phường</label>
							             </div>
							             <div class="col-12 mt-md-3 mt-1 mb-1">
												<div class="col-md-12">
													<div class="form-floating">
														<input type="text" class="form-control" id="detail" placeholder="Smart Book">
														<label for="detail" class="text-center">Số nhà, tên đường,...</label>
													</div>
												</div>
										</div>
									</div>
									<hr class="mt-2 mb-2">
									<div class="header-cart fw-bold">
										<div class="row">
											<span class="text-center text">Hình thức giao hàng</span>
										</div>
									</div>
									<hr class="mt-2 mb-2">
								</div>
							</div>
							<div class="col-lg-4 bg-grey">
								<div class="p-3">
									<h3 class="fw-bold m-0 fs-5">
										<i class="fa-solid fa-circle-info"></i> Xác nhận sản phẩm
									</h3>
									<hr class="mt-2 mb-2">
									<div class="row">
										<div class="col-4 fw-bold">Sản phẩm</div>
										<div class="col-4 fw-bold">Số lượng</div>
										<div class="col-4 fw-bold">Đơn giá</div>
									</div>
									<div class="row p-0 m-0">
										<hr class="mt-2 mb-2">
										<div class="col-4 small">Sách víp</div>
										<div class="col-4 small">3</div>
										<div class="col-4 small">3.000.000đ</div>
									</div>	
									<hr class="mt-2 mb-2">
									<h3 class="fw-bold m-0 fs-5">
										<i class="fa-regular fa-credit-card"></i> Phương thức thanh
										toán
									</h3>
									<div class="form-check mt-2">
										<input class="form-check-input" type="radio" name="pay"
											id="p1" checked> <label class="form-check-label"
											for="p1">Thanh toán khi nhận hàng </label>
									</div>
									<div class="form-check mt-1">
										<input class="form-check-input" type="radio" name="pay"
											id="p2" disabled> <label class="form-check-label"
											for="p2">Ví ZaloPay </label>
									</div>
									<div class="form-check mt-1">
										<input class="form-check-input" type="radio" name="pay"
											id="p3" disabled> <label class="form-check-label"
											for="p3">VNPAY </label>
									</div>
									<div class="form-check mt-1">
										<input class="form-check-input" type="radio" name="pay"
											id="p4" disabled> <label class="form-check-label"
											for="p4">Ví ShopeePay </label>
									</div>
									<div class="form-check mt-1">
										<input class="form-check-input" type="radio" name="pay"
											id="p5" disabled> <label class="form-check-label"
											for="p5">Ví Momo </label>
									</div>
									<div class="form-check mt-1">
										<input class="form-check-input" type="radio" name="pay"
											id="p6" disabled> <label class="form-check-label"
											for="p6">ATM/ Internet Banking </label>
									</div>
									<div class="form-check mt-1">
										<input class="form-check-input" type="radio" name="pay"
											id="p7" disabled> <label class="form-check-label"
											for="p7">Visa/ Master/ JCB </label>
									</div>
									<hr class="mt-2 mb-2">
									<h3 class="fw-bold m-0 fs-5">
										<i class="fa-solid fa-ticket"></i> Mã khuyến mãi/Mã quà tặng
									</h3>

									<hr class="mt-2 mb-2">
									<div class="d-flex justify-content-between">
										<h6>Tổng sản phẩm</h6>
										<h6>{{items +' sách' }}</h6>
									</div>
									<div class="d-flex justify-content-between">
										<h6>Tổng tiền sản phẩm</h6>
										<h6>{{convertText(total)}}đ</h6>
									</div>
									<div class="d-flex justify-content-between">
										<h6>Giảm giá</h6>
										<h6>{{convertText(getReduced())}}đ</h6>
									</div>
									<div class="d-flex justify-content-between mb-5">
										<h5 class="text-uppercase">Tổng số tiền</h5>
										<h5 ng-show="total>0">{{convertText(getTotal())}}đ</h5>
										<h5 ng-show="total==0">0đ</h5>
									</div>
									<button type="button" class="btn btn-dark btn-block btn-lg bg" data-mdb-ripple-color="dark" ng-click="beforePay()">Thanh toán</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirmModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Xác nhận thanh
							toán</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">Bạn có chắn muốn mua các sách đã
						chọn?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Không</button>
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal" ng-click="pay()">Chắc chắn</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
