<div class="pagetitle">
	<h1>Nhân vật</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#home">Smart Book</a></li>
			<li class="breadcrumb-item">Quản lý sách</li>
			<li class="breadcrumb-item active">Nhân vật</li>
		</ol>
	</nav>
</div>
<!-- End Page Title -->

<section class="section">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-body m-0 p-0">
					<div class="card pb-4 m-0">
						<div class="card-body pb-0">
							<h5 class="card-title pb-0">Tìm kiếm</h5>
							<input type="text" ng-model="keyWord" ng-change="getDataReset()"
								placeholder="Từ khoá" title="Enter search keyword"
								class="form-control">
						</div>
						<div class="card-body pb-0">
							<h5 class="card-title pb-0">Số lượng đầu sách</h5>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getCharactor" type="radio" id="f1" value="0">
								<label style="cursor: pointer;" class="form-check-label"
									for="f1">Tất cả</label>
							</div>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getCharactor" type="radio" id="f2" value="1">
								<label style="cursor: pointer;" class="form-check-label"
									for="f2">1 đến 50</label>
							</div>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getCharactor" type="radio" id="f3" value="2">
								<label style="cursor: pointer;" class="form-check-label"
									for="f3">51 đến 100</label>
							</div>
							<div class="form-check form-switch" ng-click="getDataReset()">
								<input style="cursor: pointer;" class="form-check-input"
									ng-model="getCharactor" type="radio" id="f4" value="3">
								<label style="cursor: pointer;" class="form-check-label"
									for="f4"> Lớn hơn 100</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<div class="card mt-4">
						<div class="card-body fix">

							<!-- Pagination with icons -->
							<div class="row d-flex mt-3">
								<div class="col-4">
									<button type="button" data-bs-toggle="modal"
										data-bs-target="#createModal"
										class="btn btn-primary btn-sm rounded-pill ps-3 pe-3 mt-1">
										<i class="bi bi-plus-circle"></i>&ensp;Thêm mới
									</button>
									&ensp;
									<button type="button"
										class="btn btn-danger btn-sm rounded-pill ps-3 pe-3 mt-1"
										ng-click="showDeleteListModal()">
										<i class="bi bi-dash-circle"></i>&ensp;Xoá bỏ
									</button>
								</div>
								<div class="col-4">
									<ul class="pagination justify-content-center">
										<li class="page-item "><a class="page-link"
											aria-label="Previous" ng-click="previousPage()"> <span
												aria-hidden="true">&laquo;</span>
										</a></li>

										<li class="page-item"><i class="page-link"> <i
												ng-show="maxPage>=0">Trang số:
													{{pageIndex+1}}/{{maxPage+1}}</i> <i ng-show="maxPage<0">Trang
													trống</i>
										</i></li>

										<li class="page-item"><a class="page-link"
											aria-label="Next" ng-click="nextPage()"> <span
												aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</div>
								<div class="col-4">
									<div class="row">
										<div class="col"></div>
										<div class="col-8">
											<select class="form-select" ng-model="sortCharactor"
												ng-change="getDataReset()">
												<option value="0">Ngày thêm mới A - Z</option>
												<option value="1">Ngày thêm mới Z - A</option>
												<option value="2">Nhân vật A - Z</option>
												<option value="3">Nhân vật Z - A</option>
												<option value="4">Số đầu sách tăng dần</option>
												<option value="5">Số đầu sách giảm dần</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Small tables -->
							<div class="table-wrapper overflow-auto"  style="width: 100%; height: 97%">
								<table class="table table-hover table-sm mt-3" id="example"
									style="min-width: 120%;">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Nhân vật</th>
											<th class="text-center" scope="col">Các đầu sách</th>
											<th scope="col"></th>
											<th scope="col"></th>
											<th scope="col">
												<!-- <input class="form-check-input"
											type="checkbox" id="chkAll" onchange="selectAll()"> -->
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="charactor in listCharactor">
											<th class="col-1" scope="row">{{pageIndex*10 + $index +
												1}}</th>
											<td class="col">{{charactor.charactor.value}}</td>
											<td class="text-center col-4"><a
												ng-show="charactor.listBook.length > 0" type="button"
												data-bs-toggle="modal"
												data-bs-target="{{'#modal' + charactor.charactor.id}}">{{charactor.listBook.length}}
													đầu sách</a> <a ng-show="charactor.listBook.length <= 0"><i>---------------</i></a>
											</td>
											<td class="text-center col-1"><a
												ng-click="showUpdateModal($index)"><i
													class="bi bi-pencil text-warning"></i></a></td>
											<td class="text-center col-1"><a
												ng-click="showDeleteModal($index)"><i
													class="bi bi-trash text-danger"></i></a></td>
											<td class="text-center col-1"><input
												class="form-check-input" type="checkbox" name="chk"
												value="{{charactor}}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<!-- End small tables -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Create Modal  -->
<div class="modal fade" id="createModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row mb-3">
						<label for="inputEmail3" class="col-sm-3 col-form-label fw-bold">Nhân
							vật: </label>
						<div class="col-sm">
							<input type="text" class="form-control" id="createInput"
								ng-model="createInput">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="createCharactor()">Thêm mới</button>
			</div>
		</div>
	</div>
</div>
<!-- End Create Modal-->
<!-- Update Modal  -->
<div class="modal fade" id="updateModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row mb-3">
						<label for="inputEmail3" class="col-sm-3 col-form-label fw-bold">Nhân
							vật: </label>
						<div class="col-sm">
							<input type="text" class="form-control" id="updateInput"
								ng-model="updateInput">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="updateCharactor()">Chỉnh sửa</button>
			</div>
		</div>
	</div>
</div>
<!-- End Update Modal-->
<!-- Delete Modal  -->
<div class="modal fade" id="deleteModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-6">Bạn có chắc chắn muốn xoá
					thể loại "{{deleteInput}}" vĩnh viễn?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="deleteCharactor()">Xác nhận "XOÁ"</button>
			</div>
		</div>
	</div>
</div>
<!-- End Delete Modal-->
<!-- Delete List Modal  -->
<div class="modal fade" id="deleteListModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-6">
					Bạn có chắc chắn muốn xoá những có nhân vật [<i
						ng-repeat="charactor in lstId">&ensp;"{{charactor.charactor.value}}"&ensp;</i>]
					vĩnh viễn?
				</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="deleteListCharactor()">Xác nhận "XOÁ"</button>
			</div>
		</div>
	</div>
</div>
<!-- End Delete List Modal-->
<!-- Data Modal  -->
<div class="modal fade" ng-repeat="charactor in listCharactor"
	id="{{'modal'+charactor.charactor.id}}" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-5">Đầu sách có nhân vật:
					{{charactor.charactor.value}}</h5>
				<!-- Small tables -->
				<table class="table table-hover table-sm mt-3" id="example">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Tên sách</th>
							<th class="text-center" scope="col">Giá tiền</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="book in charactor.listBook">
							<th scope="row">{{$index + 1}}</th>
							<td>{{book.name}}</td>
							<td class="text-center">{{book.price}}</td>
						</tr>
					</tbody>
				</table>
				<!-- End small tables -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					data-bs-dismiss="modal">Thêm mới</button>
			</div>
		</div>
	</div>
</div>
<!-- End Data Modal-->