<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Smart Book - Đăng nhập</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/index/img/logo.jpg" rel="icon">
<link href="/index/img/logo.jpg" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/index/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/index/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/index/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/index/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/index/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/index/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/index/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/index/css/style.css" rel="stylesheet">

</head>

<body>

	<main>
		<div class="container">
	
			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div
							class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
							<div class="card">
								<div class="card-body"><div class="pb-2">
										<div class="d-flex justify-content-center py-3">
											<a href="#home" class="logo d-flex align-items-center justify-content-center w-auto">
												<img src="/index/img/s2.png" alt="" width="85%">
											</a>
										</div>
									</div>
									<div th:if="${param.error}"> <p class="alert alert-danger">[[${session.message}]]</p>
       									 </div>
									<form class="row g-3 needs-validation" novalidate method="post" action="/login">
										<div class="col-12">
											<label for="yourUsername" class="form-label">Email</label>
											<div class="input-group has-validation">
												<span class="input-group-text" id="inputGroupPrepend">@</span>
												<input type="text" name="username" class="form-control" placeholder="Email"
													id="yourUsername" required>
												<div class="invalid-feedback">Vui lòng nhập email</div>
											</div>
										</div>

										<div class="col-12">
											<label for="yourPassword" class="form-label">Mật khẩu</label>
											<input type="password" name="password" class="form-control" placeholder="Mật khẩu"
												id="yourPassword" required>
											<div class="invalid-feedback">Vui lòng nhập mật khẩu</div>
										</div>
										<div class="col-12 row mt-2">
											<div class="col-6">
												<input type="checkbox" class="form-check-input" name="remember-me" id="rmm">
												<label class="form-check-label" for="rmm">Lưu đăng nhập</label>
											</div>
											<div class="col-6 pe-0 text-end">
												<a class="mt-2" href="/smart-book/forgot_password"><span class="small">Quên mật khẩu?</span></a>
											</div>
										</div>
										<div class="col-12">
											<button class="btn btn-primary bg w-100" type="submit">Đăng nhập</button>
											<a href="/smart-book#/signup"><button class="btn btn-primary bg w-100 mt-2" type="button">Đăng ký</button></a>
										</div>
									</form>

								</div>
							</div>

						</div>
					</div>
				</div>

			</section>

		</div>
	</main>
	<!-- End #main -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="/index/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/index/vendor/chart.js/chart.min.js"></script>
	<script src="/index/vendor/echarts/echarts.min.js"></script>
	<script src="/index/vendor/quill/quill.min.js"></script>
	<script src="/index/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/index/vendor/tinymce/tinymce.min.js"></script>
	<script src="/index/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/index/js/main.js"></script>

</body>

</html>