<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Nhà sách trực tuyến Smart Book</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/index/img/logo.jpg" rel="icon">
<link href="/index/img/logo.jpg" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/index/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/index/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/index/vendor/aos/aos.css" rel="stylesheet">
<link href="/index/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="/index/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/index/css/main.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/860c02336a.js" crossorigin="anonymous"></script>
<!--cdn socket -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body ng-app="myApp">
	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">
		<div class="container d-flex align-items-center justify-content-between p-0">
	
			<a href="#home" class="logo d-flex me-auto me-lg-0 mt-2 col-3">
				<h3 class="fw-bold">
					<img src="/index/img/s.png" class="m-0 mb-2" alt=""> 
					<span class="me-2">mart</span> 
					<img src="/index/img/b.png" width="20px" class="m-0 mb-2 p-0" alt="">
					<span style="margin-left: -5px">ook</span>
				</h3>
			</a>
			
			<nav id="navbar" class="navbar">
				<ul>
					<li class="dropdown mt-1 me-1"><a href="#"><span></span><img src="/index/img/menus.png" width="28px" class="m-0 mb-2" alt=""><i class="bi bi-chevron-down dropdown-indicator"></i></a>
			            <ul class="row mt-2">
			              <li><a href="#">Drop Down 1</a></li>
			              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
			                <ul>
			                  <li><a href="#">Deep Drop Down 1</a></li>
			                  <li><a href="#">Deep Drop Down 2</a></li>
			                  <li><a href="#">Deep Drop Down 3</a></li>
			                  <li><a href="#">Deep Drop Down 4</a></li>
			                  <li><a href="#">Deep Drop Down 5</a></li>
			                </ul>
			              </li>
			              <li><a href="#">Drop Down 2</a></li>
			              <li><a href="#">Drop Down 3</a></li>
			              <li><a href="#">Drop Down 4</a></li>
			            </ul>
			         </li>
				</ul>
			</nav>
			<div class="col-6">
				<div class="input-group">
				  <input type="text" class="form-control ps-3" style=" border-radius: 50px 0px 0px 50px; border: solid 1px #000080;" placeholder="Tìm kiếm sản phẩm mong muốn..." aria-describedby="button-addon2" id="searchText">
				  <button class="btn btn-outline-dark ps-3 pe-3" style="border-radius: 0px 50px 50px 0px; border: solid 1px #000080;" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
				</div>
			</div>
			
			<div class="row text-end col-2 ">
				<div class="col-xl-3 col-md-0">
				
				</div>
				<div class="col-xl-3 col-md-4">
					<a class="text-center" href="#noti"> <img src="/index/img/noti.png"
						width="28px" class="m-0 p-0" alt="">
					</a>
				</div>
				<div class="col-xl-3 col-md-4">
					<a class="text-center" href="#cart"> <img src="/index/img/cart.png"
						width="30px" class="m-0 p-0" alt="">
					</a>
				</div>
				<div class="col-xl-3 col-md-4 dropdown">
					<a class="text-center  dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="/index/img/user.png"
						width="24px" class="m-0 p-0" alt="">
					</a>
					<ul class="dropdown-menu mt-2">
					    <li><a class="dropdown-item" href="#profile">Thông tin cá nhân</a></li>
 						<li><a class="dropdown-item" href="#history">Theo dõi đơn hàng</a></li>
					    <li><a class="dropdown-item" href="#">Mã khuyến mãi</a></li>
					    <li><a class="dropdown-item" href="#">Điểm tích luỹ</a></li>
					    <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
					    <li><a class="dropdown-item" href="#">Đăng ký</a></li>
					    
					 </ul>
				</div>
			</div>
			<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    		<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
		</div>
	</header>
	<!-- End Header -->
	<main id="main" class="main">
		<div ng-view></div>
	</main>


<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Địa chỉ</h4>
            <p>
              LK261-DV07, KĐT Mậu Lương<br>
              Kiến Hưng, Hà Đông, Hà Nội<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Liên hệ</h4>
            <p>
              <strong>Phone:</strong> +84 865110502<br>
              <strong>Email:</strong> doanphuthai1152002@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Giờ làm việc tại cửa hàng</h4>
            <p>
             <strong>T2-T7:</strong> 8AM - 17PM<br>
             <strong> Chủ nhật:</strong> Đóng cửa
            </p>
          </div>
        </div>
        

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-cast icon"></i>
          <div>
            <h4>Mạng xã hội</h4>
            <p class="social-links d-flex">
	            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
	            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
	            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
	            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </p>
         </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Smart Book</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.facebook.com/phuthai02">Đoàn Phú Thái</a>
      </div>
    </div>

  </footer><!-- End Footer -->


	<a href="#"
		class="scroll-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<!-- Vendor JS Files -->
	<script src="/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/index/vendor/aos/aos.js"></script>
	<script src="/index/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="/index/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="/index/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="/index/vendor/php-email-form/validate.js"></script>
	<!-- AngularJs -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- Controller files -->
	<script src="/index/js/home.js"></script>
	<script src="/index/js/cart.js"></script>
	<script src="/index/js/history.js"></script>
	<!-- Template Main JS File -->
	<script src="/index/js/main.js"></script>
	<script src="/index/js/app.js"></script>
</body>

</html>