<div class="pagetitle">
	<h1>Các đầu sách</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#home">Smart Book</a></li>
			<li class="breadcrumb-item">Quản lý sách</li>
			<li class="breadcrumb-item active">Các đầu sách</li>
		</ol>
	</nav>
</div>
<!-- End Page Title -->

<section class="section">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-body m-0 p-0">
					<div class="card pb-4 m-0">
						<div class="card-body pb-0">
							<h5 class="card-title pb-0">Tìm kiếm</h5>
							<input type="text" name="query" placeholder="Nhập tên sách..."
								ng-change="getData(0)" ng-model="params.keyWord"
								class="form-control">
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title pb-0">Lọc</h5>
							<div class="form-floating mt-2">
								<select class="form-select" ng-change="getData(0)"
									ng-model="params.type">
									<option value="">Tất cả</option>
									<option ng-repeat="o in listType" value="{{o.id}}">{{o.value}}</option>
								</select> <label for="findType">Thể loại</label>
							</div>
						</div>

						<div class="card-body pb-0">
							<div class="form-floating mt-2">
								<select class="form-select" ng-change="getData(0)"
									ng-model="params.author">
									<option value="">Tất cả</option>
									<option ng-repeat="o in listAuthor" value="{{$index}}">{{o.name}}</option>
								</select> <label for="findType">Tác giả</label>
							</div>
						</div>


						<div class="card-body pb-0">
							<div class="form-floating mt-2">
								<select class="form-select" ng-change="getData(0)"
									ng-model="params.publisher">
									<option value="">Tất cả</option>
									<option ng-repeat="o in listPublisher" value="{{$index}}">{{o.name}}</option>
								</select> <label for="findType">Nhà xuất bản</label>
							</div>
						</div>


						<div class="card-body pb-0">
							<div class="form-floating mt-2">
								<select class="form-select" ng-change="getData(0)"
									ng-model="params.status">
									<option value="">Tất cả</option>
									<option ng-repeat="o in listBookStatus"
										class="text-{{o.color}}" value="{{$index}}">{{o.value}}</option>
								</select> <label for="findType">Trạng thái</label>
							</div>
						</div>


						<div class="card-body pb-0 mb-3">
							<h5 class="card-title pb-0">
								Đánh giá: &ensp; <span ng-show="params.evaluate == 0.0">Không
									có giá trị</span> <i ng-show="params.evaluate == 0.5"
									class="bi bi-star-half text-warning"></i> <i
									ng-show="params.evaluate >= 1"
									class="bi bi-star-fill text-warning"></i> <i
									ng-show="params.evaluate == 1.5"
									class="bi bi-star-half text-warning"></i> <i
									ng-show="params.evaluate >= 2"
									class="bi bi-star-fill text-warning"></i> <i
									ng-show="params.evaluate == 2.5"
									class="bi bi-star-half text-warning"></i> <i
									ng-show="params.evaluate >= 3"
									class="bi bi-star-fill text-warning"></i> <i
									ng-show="params.evaluate == 3.5"
									class="bi bi-star-half text-warning"></i> <i
									ng-show="params.evaluate >= 4"
									class="bi bi-star-fill text-warning"></i> <i
									ng-show="params.evaluate == 4.5"
									class="bi bi-star-half text-warning"></i> <i
									ng-show="params.evaluate == 5"
									class="bi bi-star-fill text-warning"></i>
							</h5>
							<div>
								<input type="range" class="form-range" min="0" max="5"
									step="0.5" ng-model="params.evaluate" ng-change="getData(0)">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<div class="card mt-4">
						<div class="card-body fix">
							<!-- Pagination with icons -->
							<div class="row d-flex mt-3">
								<div class="col-4">
									<a href="#book/create"
										class="btn btn-primary btn-sm rounded-pill ps-3 pe-3 mt-1">
										<i class="bi bi-plus-circle"></i>&ensp;Thêm mới
									</a> &ensp;

								</div>
								<div class="col-4">
									<ul class="pagination justify-content-center">
										<li class="page-item" ng-click="getData(params.page-1)"><a
											class="page-link"><span aria-hidden="true">&laquo;</span>
										</a></li>
										<li ng-show="!pageBook.empty" class="page-item"><a
											class="page-link"><i>Trang số:
													{{params.page+1}}/{{pageBook.totalPages}}</i></a></li>
										<li ng-show="pageBook.empty" class="page-item"><a
											class="page-link"><i>Trang trống</i></a></li>
										<li class="page-item" ng-click="getData(params.page+1)"><a
											class="page-link"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</div>
								<div class="col-4">
									<div class="row">
										<div class="col"></div>
										<div class="col-7">
											<select class="form-select" ng-change="getData(params.page)"
												ng-model="params.sortBy">
												<option value="id">--- Sắp xếp theo ---</option>
												<option value="name">Tên sách</option>
												<option value="amount">Số lượng</option>
												<option value="price">Giá bán</option>
												<option value="point">Điểm tích luỹ</option>
												<option value="discount">Giảm giá</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Small tables -->
							<div class="table-wrapper overflow-auto"
								ng-show="!pageBook.empty" style="width: 100%; height: 97%">
								<table class="table table-hover table-sm mt-3" id="example"
									style="min-width: 250%;">
									<thead>
										<tr>
											<th width="2%">#</th>
											<th width="8%">Sách</th>
											<th width="6%">ISBN</th>
											<th class="text-center" width="7%">Trạng thái</th>
											<th class="text-center" width="5%">Thể loại</th>
											<th class="text-center" width="4%">Nội dung</th>
											<th class="text-center" width="4%">Nhân vật</th>
											<th class="text-center" width="4%">Số trang</th>
											<th width="4%">Mô tả</th>
											<th class="text-center" width="5%">Giá bán</th>
											<th class="text-center" width="5%">Số lượng</th>
											<th class="text-center" width="6%">Lượt đánh giá</th>
											<th class="text-center" width="6%">Điểm tích luỹ</th>
											<th class="text-center" width="4%">Giảm giá</th>
											<th class="text-center" width="8%">Số lượng giảm giá còn</th>
											<th width="7%">Tác giả</th>
											<th width="10%">Nhà sản xuất</th>
											<th width="5%"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="b in pageBook.content">
											<th scope="row">{{params.page*10 + $index +1}}</th>
											<td>{{b.name}}</td>
											<td>{{b.isbn}}</td>
											<td class="text-center"><span
												class="text-{{b.status.color}} text-start">{{b.status.value}}</span>
												<i ng-click="showModalUpdate($index)"
												class="fa-solid fa-repeat ms-2 text-primary"></i></td>
											<td class="text-center"><a
												ng-click="showInfoModal($index,-1)">{{typeInBook[b.id].length}}
													thể loại</a></td>
											<td class="text-center"><a
												ng-click="showInfoModal($index,0)">{{contentInBook[b.id].length}}
													nội dung</a></td>
											<td class="text-center"><a
												ng-click="showInfoModal($index,1)">{{charactorInBook[b.id].length}}
													nhân vật</a></td>
											<td class="text-center">{{b.numOfPage}}</td>
											<td>{{b.description}}</td>
											<td class="text-center">{{b.price}}</td>
											<td class="text-center">{{b.amount}}</td>
											<td class="text-center">{{b.evaluate}}</td>
											<td class="text-center">{{b.point}}</td>
											<td class="text-center">{{b.discount}}%</td>
											<td class="text-center">{{b.saleAmount}}</td>
											<td>{{b.author.name}}</td>
											<td>{{b.publisher.name}}</td>
											<td class="text-center"><a href=" "> <i
													class="fa-solid fa-pen-to-square text-warning"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- End small tables -->
							<div class="mt-4" ng-show="pageBook.empty">
								<h5 class="card-title m-0 p-0 fs-1">Danh sách các đầu sách
									trống!</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="updateStatusModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="card-body pb-0">
					<div class="form-floating mt-2">
						<select class="form-select" ng-model="statusUpdate">
							<option ng-repeat="o in listBookStatus" class="text-{{o.color}}"
								value="{{$index}}">{{o.value}}</option>
						</select> <label for="findType">Trạng thái</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					data-bs-dismiss="modal" ng-click="updateStatus()">Xác nhận</button>

			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalInfo" tabindex="-1">
	<div class="modal-dialog  modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="wrapper">
					<h5 class="text-center fw-bold fs-2" style="color: #012970">{{titleInfo}}</h5>
					<div class="content ">
						<li ng-repeat="t in showInfo">{{t.value}}<i
							class="fa-sharp fa-solid fa-xmark ms-2"
							ng-click="remove($index, showInfo, 'newInfo')"></i></li>
						<div class="autocomplete">
							<input type="text" ng-model="newInfo" id="newInfo"
								class="form-control m-0 mt-2" placeholder="Thêm mới...">
						</div>
						<button class="btn btn-danger mt-2 btn-sm"
							ng-click="removeAll(showInfo, 'newInfo')">Xoá hết</button>
						<button class="btn btn-primary mt-2 ms-2 btn-sm"
							style="background-color: #012970"
							ng-click="checkNewInfo('newInfo', showInfo)">Thêm mới</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					ng-click="updateInfo()">Xác nhận</button>

			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalConfirm" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#home" class="logo d-flex align-items-center"> <img
					src="/index/img/logo.jpg" alt=""> <span
					class="d-none d-lg-block">Smart Book</span>
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="card-title m-0 p-0 fs-6">{{titleInfo}} chưa tồn
					tại, bạn có muốn thêm mới không?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Huỷ</button>
				<button type="button" class="btn btn-primary"
					data-bs-dismiss="modal" ng-click="createNewInfo()">Xác
					nhận</button>

			</div>
		</div>
	</div>
</div>
<!-- Hide input -->
<input type="hidden" id="newContent">
<input type="hidden" id="newType">
<input type="hidden" id="newCharactor">

